{% extends 'base.html.twig' %}
{% block title %}Login de usuarios
{% endblock %}
{% block body %}

<div class="example-wrapper">
  <h1>Login de usuarios</h1>

  {% if error %}
  <div class="alert alert-error">
    hay un error
    {{ error.messagekey|trans(error.messageData, 'security') }}
  </div>
  {% endif %}

  {# {% if app.user %}
		  {{ dump(app.user) }}
		  {% endif %} #}

  <form method="post" accept-charset="UTF-8" action="{{ path('login') }}">
    {# {{ csrfInput() }} #}
    {# <input type="hidden" name="action"
			      value="users/send-password-reset-email" /> #}
    {# {{ redirectInput("") }} #}

    <h3><label for="username"> Email</label>
    </h3>
    <input id="username" type="email" name="_username" value="{{ last_username }}" />

    {% if errors is defined %}
    <ul class="errors">
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <h3>
      <label for="password">Contraseña:
      </label>
    </h3>
    <input id="password" type="password" name="_password" />

    {% if errors is defined %}
    <ul class="errors">
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="clearfix"></div>

    <input type="submit" class="btn btn-success" value="Entrar" />
  </form>
</div>
{% endblock %}